header(class="header mp-header")
	.container
		.row.nav-section
			.small-6.large-6.columns
				button(class="toggle-button")
					svg(width="31" height="15")
						line(x1="1" y1="1" x2="31" y2="1" stroke-width="1" stroke="#60606e")
						line(x1="1" y1="7" x2="15" y2="7" stroke-width="1" stroke="#60606e")
						line(x1="1" y1="14" x2="23" y2="14" stroke-width="1" stroke="#60606e")
			.small-6.large-6.columns
				a.logo Основа
		.row
			.small-12.large-12.columns.greet
					span(class="greet-pref") we’re
					h1(class="greet-label") creative agency
					p(class="greet-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		.row.top-news
			.small-12.large-5.columns
				img(src="images/photo-1.jpg", alt="Beautiful")
			.small-12.large-6.columns
				.rect-dec
					h3 HISTORY OF AGENCY
				p Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi modi tempora incidunt ut labore.
				a(href="#" class="btn") read more
